# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
src/Mods/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Levels/*
src/Mods/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Globals/*
src/Editor/Mods/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Levels/*

# Story files        #
######################
*.div
!story_header.div
*.raw
story_orphanqueries_ignore.txt
src/Mods/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Story/Dialogs/Autosave/*
src/Mods/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
src/Public/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/Assets/*
#src/Public/CharacterExpansionLib_3ab43741-6654-44a0-b46e-b5e47a5dbe93/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg
*.wem

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# VS Code #
############
launch.json

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk

# Extras #
##########################
FlashReferences/*
_Backup
